APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_URL=sqlite+aiosqlite:///./data/qlik.db
QLIK_EMAIL=usuario@ejemplo.com
QLIK_PASSWORD=coloca-tu-password-local
QLIK_TENANT=
QLIK_SPACE=Bancolombia prueba
QLIK_DATAFLOW_NAME=Prueba de conexion S3
QLIK_TARGET_URL=https://qlikcloud.com/
QLIK_DOWNLOAD_DIR=downloads
QLIK_HEADLESS=false
QLIK_STORAGE_STATE=artifacts/qlik-storage-state.json
